.music-item {
  border: solid 1px dimgrey;
  margin: 5px;
  width: 500px;
  padding: 5px;
  list-style: none;
  background-color: lavender;
}

p {
  margin: 5px;
  color: dimgrey
}

.music-item-title {
  font-size: 18px;
  color: black
}
